@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    background-color: #FD8A8A;
}

#seleccionar-mascota {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titulo {
    color: white;
    font-size: 32px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}




.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #F1F7B5;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid hotpink;
    border-radius: 20px;
    display: flex;
    color: #FD8A8A; 
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img {
    width: 80px;

}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}


input {
    display: none;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #F1F7B5;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
}